name: Recon Automation with Amass
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  recon:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Install Amass
      run: go install -v github.com/OWASP/Amass/v3/...@master
    - name: Run Amass
      run: amass enum -d example.com
