name: Recon Automation with Amass
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  recon:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Install Amass
      run: |
        wget https://github.com/OWASP/Amass/releases/download/v3.15.4/amass_linux_amd64.zip 
        unzip amass_linux_amd64.zip

    - name: sample output
      run: ls | tee -a ls.txt 
